{% load pages_tags i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" /> 
    <meta name="description" content="{% block meta_description %}{% endblock %}" /> 
    <title>{% block meta_title %}{% endblock %}</title>

    <link rel="alternate" type="application/rss+xml" title="RSS" 
        href="{% url blog_post_feed "rss" %}" />
    <link rel="alternate" type="application/atom+xml" title="Atom"  
        href="{% url blog_post_feed "atom" %}" />

    <link rel="stylesheet" href="{{ MEDIA_URL }}css/960.css" type="text/css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" type="text/css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/global.css" type="text/css" />
    {% block extra_head %}{% endblock %}
<script type="text/javascript" src="http://use.typekit.com/zaw2yij.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22871532-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body id="{% block body_id %}{% endblock %}">
	<div class="container_12 clearfix">
        <div id="header">
            <h1>Natalie Evans <span>Childbirth Educator & Labor Doula</span></h1>
            <h3>natalieannevans [at] gmail [dot] com &bull; (773) 510&ndash;6230</h3>
        </div>
        <div id="mainContent">
            <div id="primary_nav">
                <div class="grid_12">{% page_menu "pages/menus/primary.html" %}</div>
            </div>
            {% block main %}{% endblock %}
            <div id="content" class="grid_9">{% block content %}{% endblock %}</div>
            <div id="sidebar" class="grid_3">{% block sidebar %}{% endblock %}</div>
         <div class="clear"></div>
        </div>
    <div id="footer">All contents Copyright &copy;{% now "Y" %}</div>
	</div>

{% include "includes/footer_scripts.html" %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.corners.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#mainContent').corner("round 10px");
    });
</script>
</body>
</html>

